body {
  background-color: #ececec;
  font-family: 'Roboto';
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}
textarea {
  -webkit-text-stroke-width: 0px;
}
.start {
  -webkit-user-select: none;
  display: inline-block;
  transition: .3s;
  background-color: #414141;
  border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  padding: 10px;
  width: fit-content;
}
.start:hover {
  background-color: #e47169;
  transition: .3s;
}
#import {
  background-color: gainsboro;
  color: black;
}
#import-container:hover {
  background-color: #414141;
}
#import-container:hover #import {
  background-color: #e47169;
  color: white;
  transition: .3s;
}
#json {
  display: inline-block;
  font-size: 14px;
  color: black;
}
#out {
  white-space: pre-wrap;
  width: fit-content;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
}
.template {
  -webkit-user-select: none;
  display: block;
  transition: .3s;
  border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin: 10px;
  padding: 10px;
  width: fit-content;
}
.template:hover {
  color: #e47169;
  transition: .3s;
}
.template:hover .field {
  color: black;
}
.drop {
  -webkit-user-select: none;
  display: inline-block;
  transition: .3s;
  border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin: 5px;
  padding: 5px 0px;
  width: fit-content;
}
.field {
  -webkit-user-select: text;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  resize: none;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 5px;
  margin: 10px;
  height: 16px;
  background-color: white;
  color: black;
}
.create {
  display: inline;
  -webkit-user-select: none;
  transition: .3s;
  z-index: 1;
  color: white;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  /* position: relative;
    right: -110%; */
  margin: 10px;
  padding: 5px 12px;
  background-color: #e47169;
  border-radius: 15px;
}
.create:hover {
  transition: .3s;
  color: #e47169;
}
.content {
  outline: none;
  -webkit-user-select: text;
  overflow: hidden;
  transition: .3s;
  border-radius: 5px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
}
.span {
  display: inline-block;
  vertical-align: middle;
  width: fit-content;
  outline: none;
  top: 50%;
  padding: 5px;
  margin-top: auto;
  background-color: white;
  border-radius: 5px;
}
.selected {
  color: white;
  background-color: #e47169;
  transition: .3s;
}
.context-menu {
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: gainsboro;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
